rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
     allow read: if (request.auth.uid == userId || request.auth.token.email == resource.data.email);
     allow write: if false;

      match /myBlogs/{blogId} {
        allow read: if (request.auth.uid == userId);
        allow write: if false;
      }
    }

    match /blogs/{blogId} {
      allow read: if true;
      allow write: if false;

      match /comments/{commentId} {
        allow list: if true;
        allow write: if false;

        match /replies/{replyId} {
          allow list: if true;
          allow write: if false;
        }
      }

      match /views/{userId} {
        allow read: if false;
        allow write: if false;
      }

      match /likes/{userId} {
        allow read: if false;
        allow write: if false;
      }
    }
  
    match /{document=**} {
      allow read, write: if false;
    }
  }
}